<div class="container">
   <div class="row no-gutters">
      <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
        <h4 class="text-dark bg-light py-4 mb-0">ログイン</h4>
        <div class="text-center">
         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="input-group p-4">
             <div class="input-group-prepend">
               <span class="input-group-text" aria-hidden="true">
                 <i class="fas fa-envelope"></i>
               </span>
             </div>
             <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: 'sample@example.com' %>
            </div>

           <div class="input-group p-4">
             <div class="input-group-prepend">
               <span class="input-group-text" aria-hidden="true">
                 <i class="fas fa-lock"></i>
               </span>
             </div>
               <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "password minimum 6" %>
           </div>

           <div class="submit-group p-4">
             <%= f.submit "ログイン", class: "btn btn-outline-info btn-block" %>
           </div>
         <% end %>
       </div>
      </div>
   </div>
</div>         
