<h1>Welcome to viaje.JP</h1>
<p></p>

<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">STEP1</div>
  <div class="card-body text-dark">
    <h5 class="card-title">見出し投稿</h5>
    <p class="card-text">新規登録後、行先/泊数/予算/コメントと画像を投稿し、計画表の見出し記事を作成します。</p>
  </div>
</div>

<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">STEP2</div>
  <div class="card-body text-dark">
    <h5 class="card-title">予定、計画表の投稿</h5>
    <p class="card-text">予定、計画表を作成。時間ごとに計画を立てます。<br>
      日程は本人のみ記載されフォローしているユーザー同士のみ予定、計画表を参照できます。<br>
      フォローしているユーザー同士
    </p>
  </div>
</div>

<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">STEP3</div>
  <div class="card-body text-dark">
    <h5 class="card-title">投稿</h5>
    <p class="card-text">予定、計画表を作成。時間ごとに計画を立てます。日程は本人のみ記載されフォローしているユーザー同士のみ予定、計画表を参照できます。</p>
  </div>
</div>