<% provide(:title, "会員一覧") %>
<div class="container">
   <h2 class="head-line title_h2 text-center">会員一覧</h2>
   <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-bordered table-condensed  center-block">
          <thead>
            <tr class="info">
              <th>会員ID</th>
              <th>ユーザーネーム</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
             <tr>
               <td class="info">
                 <%= user.id %>
               </td>
               <td class="text-left">
                 <%= link_to admin_user_path(user), class: "btn-link"  do %>
                   <%= user.name %>
                 <% end %>
               </td>
               <td class="text-left">
                 <%= user.email %>
               </td>
               <td class="col-md-2">
              <% if user.unsubscribe == true %>
                <p><i class="fas fa-bullseye blue"></i>退会済</p>
              <% else %>
                <p><i class="fas fa-bullseye red"></i>有効</p>
              <% end %>
               </td>
             </tr>
           <% end %>
         </tbody>
       </table>
     </div>
   </div>
</div>